<h1 class="main_title">Need Music?</h1>
<p class="lead">Use the NgSpotigy web app to browse new realeases and 
  find music you like in Spotify
</p>

<form>
  <div class="form-group" id="input_search">
    <div class="input-group">
      <input 
      id="search_box"
      type="text" 
      class="form-control" 
      placeholder="Search Artist..." 
      (keyup)="searchMusic()"
      [(ngModel)]="searchStr"
      name="searchStr">
      
      <i class="fa fa-search" aria-hidden="true"></i>
      
    </div>

  </div>
</form>

<!-- Looping through the artist Json object -->
<div *ngIf="searchResults">
  <div *ngFor="let res of searchResults">
    <!-- We Now have access to each individual result -->
    <div class="row">
      <div class="col-md-12">
        <ul class="list-group">
          <!-- access the artists name -->
          <h4 class="list-group-item"><a routerLink="/artist/{{res.id}}" routerLinkActive="router-link-active" >{{ res.name }}</a></h4>
          <div class="list-group-item">
            <strong>Genres: </strong>
            <span *ngFor="let genre of res.genres">{{ genre }}</span>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>