<h1>Need Music?</h1>
<p class="lead">Use the ngSpotigy app to browse new realeases and 
  find music you like
</p>

<form>
  <div class="form-group">
    <input 
      type="text" 
      name="searchStr" 
      [(ngModel)]="searchStr" 
      (keyup)="searchMusic()"
      placeholder="Search Music..."
      class="form-control">
  </div>
</form>

<!-- Looping through the artist Json object -->
<div *ngIf="searchResults">
  <div *ngFor="let res of searchResults">
    <!-- We Now have access to each individual result -->
    <div class="row">
      <div class="col-md-12">
        <ul class="list-group">
          <!-- access the artists name -->
          <h4 class="list-group-item">{{ res.name }}</h4>
          <div>
            <strong>Genres: </strong>
            <span *ngFor="let genre of res.genres">{{ genre }}</span>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>